{
    "processors": [
        "stylelint-processor-styled-components"
    ],
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-styled-components",
        "stylelint-config-rational-order",
    ],
    "rules": {
        "color-named": "never",
        "indentation": 4,
        "color-hex-length": "long",
    }
}